html,body
{
    width :100%;
    margin:0;
    padding:0;

}
#description_forum{
    font-size:1.6em;
    text-align:left;
    color:midnightblue;
    font-family: "Times New Roman"


}


.bouton:hover {
    background:cornflowerblue;

}

table {
    border: medium solid #6495ed;
    border-collapse: collapse;
    width: 100%;
}
th {
    font-family: monospace;
    border: thin solid #6495ed;
    width: 20%;
    padding: 5px;
    background-color: #D0E3FA;
    background-image: url(sky.jpg);
}
td {
    font-family: sans-serif;
    border: thin solid #6495ed;
    width: 20%;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
}
caption {
    font-family: sans-serif;
}

