html, body
{
    width: 100%;
}
html, body, .bandeau_menu {
    height : 100%;
    margin: 0;
    padding: 0;
}
.bandeau_menu {
    float: left;
    height: 100%;
    width : 300px;
    background : #1D2043 0 0 no-repeat padding-box;
    opacity : 1;
    box-shadow: 0 2px 5px #1c1a19;
}
/* POUR LE MENU : LOGO */
.logo {
    padding-top: 20px;
    padding-left: 10px;
}
/* POUR LE MENU : NAV */
nav ul
{
    list-style-type: none;
}
nav li
{
    padding-top: 30px;
    margin-right: 15px;
    margin-bottom: 20px;
}
nav a
{
    font-size: 1.8em;
    color: #FFFFFF;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #2699FB;
    border-bottom: 3px solid #F1F9FF;
}
.infinite_measures
{
    color: white;
    font-size : 1.2em;
    text-align: center;
    margin-top: 360px;

}
/* HEADER */
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #F1F9FF 0 0 no-repeat padding-box;
    opacity: 1;


}
#header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
header h1
{
    margin-top: 10px;
    color: #1D2043;
    margin-left: 600px; /* Pour centrer car mon écran sans le menu fait 1195 px */
}
.icones {
    margin-left: 595px;

}
.bouton_search{
    margin-right: 15px;
}
.bouton_contact{
    margin-left : 15px;
}
.premier_bouton{
    border: 0;
    margin-top : 10px;
    margin-left: 45px;
    margin-bottom: 10px;

    line-height: 1.5;
    padding: 10px 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: rgba(29, 32, 67, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
    text-decoration: none;
}
.premier_bouton:hover {
    background-color:  #F1F9FF/*rgba(255, 0, 0, 1)*/;
}

.premier_bouton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}
/*SEPARATEUR HAUT */
.traitduhaut{
    height: 2px;
    background-color: #2699FB;
}
/* BANNIERE */
#banniere_image
{
    margin-top: 100px;
    height: 500px;
    border-radius: 5px;
    background: url('images/banniere-paris.jpg') no-repeat;
    position: relative;
    margin-bottom: 238px; /*238px si on met rien en dessous la banniere pour que le footer soit bien calé*/
    margin-left: 360px;
}

#banniere_description
{
    text-align: center;
    position: absolute;
    margin-top : 350px;
    border-radius: 3px 3px 3px 3px;
    width: 1500px;
    height: 33px;
    background-color: rgba(29,32,67,0.5);
    padding-bottom: 30px;
    color: white;
    font-size: 1.3em;
}
/* FOOTER */
.traitdubas{
    height: 1.5px;
    background-color: #0b2752;
}
footer
{
    background: #1D2043 0 0 no-repeat padding-box;
    opacity: 1;
}
footer .avantfin {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.apropos{
    color : white;
    margin-left: 470px;
}
.apropos h1{
    margin-left: 190px;
}
.deuxieme_phrase{
    margin-left: 90px;
}
.deuxieme_bouton
{

    border: 0;
    margin-right : 30px;
    margin-bottom: 50px;
    width: 150px ;
    line-height: 1.5;
    padding: 10px 10px;
    font-size: 1rem;
    text-align: center;
    color: #1D2043;
    text-shadow: 1px 1px 1px #000;
    border-radius: 4px;
    background-color: white;
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
    text-decoration: none;
}
footer .fin {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.traitdubasdeux{ /*Séparation du footer en deux */
    height: 2px;
    background-color: white;
}
footer a
{
    font-size: 1.1em;
    color: #FFFFFF;
    padding-left: 120px;
    padding-right: 120px;
    text-decoration: none;
}